#avatar{
    width: 30rem;
}

#perfil{
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 10rem;
    padding-bottom: 7rem;
}

.text{
    padding-top: 9rem;
    align-self: center;
}